<center><h1>Welcome to Registration at Skill Saarthi</h1> </center>
<div>
    Hi <%= data.name %>,
</div>
<div>
    <p>
        Your link for Registration: <span><b><%= data.link %></b></span>
    </p>
    <p>
        Thanks & Regards,
        <br>
        Team Skill Saarthi
    </p>
</div>